definitions:
  models.User:
    properties:
      email:
        type: string
      id:
        type: integer
      password:
        type: string
      username:
        type: string
    required:
    - email
    - password
    type: object
info:
  contact: {}
paths:
  /users:
    post:
      consumes:
      - application/json
      description: This endpoint registers a user
      parameters:
      - description: User Data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.User'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
      summary: Create new user
      tags:
      - User
  /users/login:
    post:
      consumes:
      - application/json
      description: This endpoint logs in a user
      parameters:
      - description: Login Data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.User'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Login user
      tags:
      - User
  /users/profile:
    get:
      description: This endpoint retrieves the profile of the logged-in user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
      security:
      - JWT: []
      summary: Get user profile
      tags:
      - User
swagger: "2.0"
